html {
  --game-chat-primary-color: hsl(40, 100%, 40%);
  --game-chat-dark-color: hsl(40, 100%, 25%);
  --game-chat-light-color: hsl(40, 100%, 80%);
  --game-chat-accent-color: hsl(40, 50%, 10%);
  --ggame-chat-maintext-color: hsl(40, 25%, 25%);
  --game-chat-accenttext-color: hsl(40, 25%, 90%);
}
